@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-padrao: "Bebas Neue";
}

body{
    /* background-image: linear-gradient(to right, #09f, transparent ); */
    font-family: var(--font-padrao);
    background-color: #00100B;
}

.fundo{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.calculadora{
   
    width:  fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;   
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: .8;
    box-shadow: 0px 0px 10px #14BDEB;
}

.calculadora:hover{
    opacity: 1;
    transform: all linear .5s;
}

.calculadora > h1{
    color: #14BDEB;
    padding: 10px;
}



.botao{
    padding: 10px;
    width: 50px;
    height: 50px;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    cursor: pointer;
    border: 1px solid #14BDEB; 
    color: #fefefe;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);


}

.botao:hover{
    background-color: rgba(0, 0, 0, 1);
    transition: all linear .5s;
    color: #fefefe;
    box-shadow: 0px 0px 10px #14BDEB;
}

/* btn maior e btn_m são, respectivamente, = e 0 */
.botao.btn_maior{
    /* border: 1px solid red; */
    height: 103px;
}

.btn_m{
    width: 104px;
}

#resultado{
    /* border: 1px solid #ccc; */
    width: 96%;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #fefefe;
    color: rgba(0, 0, 0, .8);
    font-size: 1.2em;
    background-color: #14BDEB;
}

footer{
    color: #14BDEB;
    margin-top: 20px;
    display: inline-block;
    transform: scale(1.5);
}

footer:hover{
    transform: scale(2);
    transition:  all linear .1s;
    background-image: linear-gradient(to left, #14BDEB, transparent);
}